body{
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    transition: background-color 0.4s ease;
}
.header nav .navbar-brand{
    margin: 0 10% 0 5%;
}
nav li{
    margin-top: 1rem;
    font-weight: bolder;
    text-align: center;
}
.item{
    margin-right: 20%;
}
.btn{
    margin-left: 0;
}
#img{
    width: 45rem;
    margin-top: 8%;
    padding-left: 5%;
}
.content{
    display: flex;
    flex-direction: column;
    margin-left: 6%;
    float: left;
    margin-top: 8%;
    width: 40%;
}
.tag h5{
    color: #223344;
    margin-bottom:8%;
}
.title h1{
    font-size: 3.75rem;
    font-weight: 700;
    margin-right: 40%;
    color: #223344;
    margin-bottom:8%;
}
.para p{
    color: #909193;
    margin-right: 35%;
    font-weight: bold;
    margin-bottom: 5%;
}
.row{
    justify-content: space-between;
    margin: 7% 0;
}
#start{
    background-color: #2A4DD0;
    width: 24%;
    margin-left: 2%;
    padding: 2%;
    border-radius: 20px;
    color: #FFFFFF;
    border: none;
}
#live{
    width: 25%;
    margin-top: 1%;
    margin-right: 48%;   
    font-weight: bold;
}
.footer span{
    padding-right: 5%;
}
.switch{
    background-color: rgb(33, 27, 27);
    border-radius: 20px;
    padding: 2px;
    border: solid black;
    position: relative;
}
.sun{
    border-radius: 100%;
    padding:0;
    margin:0;
}
.dark-mode{
    background-color: #111729;  
}
.dark-mode a,.dark-mode .title h1,.dark-mode .tag h5,.dark-mode span,.dark-mode .para p {
    color: green;
}
.switch::after {
    content: "";
    position: absolute;
    right:1%;
    width: 28px;
    height: 28px;
    border: 2px solid black; /* Initial border */
    border-radius: 100%;
    transition: transform 0.4s ease, border-color 0.4s ease;
    background-image: url("./dccl--responsive-simple-homepage/dccl--responsive-simple-homepage/Sun_fill.svg");
    background-color: white;
}
  
  .dark-mode .switch::after {
    transform: translateX(-98%);
    border-color: 2px solid black; /* Dark mode border color */
    background-image: url("./dccl--responsive-simple-homepage/dccl--responsive-simple-homepage/Moon_fill.svg");
    background-color: white;
}
.dark-mode .navbar-toggler{
    background-color: rgba(255, 255, 255, 0.705);
}
/* @media (max-width: 1250px) {
    nav .btn{
        margin-left: 15rem;
    }
  }
@media (max-width: 1024px) {
    nav .btn{
        margin-left: 10rem;
    }
  } */
@media (max-width: 768px) {
    .item{
        margin-right: 2%;
    }
  }